@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

[v-cloak] {
  display: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"], button {
  -webkit-appearance: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("./flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2") format("woff2");
  src: local("Material Icons"), local("6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58a-wjwxUD2GFw"), local("6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58i-wjwxUD2GF9Zc"), local("6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58m-wjwxUD2GF9Zc"), local("MaterialIcons-Regular"), url("./MaterialIcons-Regular.woff2") format("woff2"), url("./MaterialIcons-Regular.woff") format("woff"), url("./MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  max-width: 1em;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'icomoon';
  src: url("icomoon/fonts/icomoon.eot?wo3hpi");
  src: url("icomoon/fonts/icomoon.eot?wo3hpi#iefix") format("embedded-opentype"), url("icomoon/fonts/icomoon.ttf?wo3hpi") format("truetype"), url("icomoon/fonts/icomoon.woff?wo3hpi") format("woff"), url("icomoon/fonts/icomoon.svg?wo3hpi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-home2:before {
  content: "\e901";
}

.icon-home3:before {
  content: "\e902";
}

.icon-newspaper:before {
  content: "\e904";
}

.icon-book:before {
  content: "\e91f";
}

.icon-books:before {
  content: "\e920";
}

.icon-address-book:before {
  content: "\e944";
}

.icon-box-add:before {
  content: "\e95e";
}

.icon-download:before {
  content: "\e960";
}

.icon-zoom-in:before {
  content: "\e987";
}

.icon-wrench:before {
  content: "\e991";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-cloud-download:before {
  content: "\e9c2";
}

.icon-cloud-check:before {
  content: "\e9c4";
}

.icon-download2:before {
  content: "\e9c5";
}

.icon-sphere:before {
  content: "\e9c9";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-cancel-circle:before {
  content: "\ea0d";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-exit:before {
  content: "\ea14";
}

.icon-pause:before {
  content: "\ea16";
}

.icon-stop:before {
  content: "\ea17";
}

.icon-pause2:before {
  content: "\ea1d";
}

.icon-checkbox-checked:before {
  content: "\ea52";
}

.icon-checkbox-unchecked:before {
  content: "\ea53";
}

.icon-radio-checked:before {
  content: "\ea54";
}

.icon-radio-checked2:before {
  content: "\ea55";
}

.icon-radio-unchecked:before {
  content: "\ea56";
}

.icon-tux:before {
  content: "\eabd";
}

.icon-appleinc:before {
  content: "\eabe";
}

.icon-finder:before {
  content: "\eabf";
}

.icon-windows8:before {
  content: "\eac2";
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

[v-cloak] {
  display: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"], button {
  -webkit-appearance: none;
}

body {
  overflow: hidden;
}

#app {
  padding: 2.6em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app .conBOx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#app .conBOx .conApp {
  width: 100%;
}

#app h2 {
  font-size: 1.25em;
  font-weight: bold;
}

.layout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #eeeeee;
}

.layout-footer {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.layout-nav {
  background: #f8f8f8;
  padding: 0.5rem 1rem;
}

.layout-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100vh - 5.5em);
  overflow: auto;
  margin-bottom: -2px;
}

.layout-main .conApp {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 1em;
  padding-bottom: 1.15em;
  min-height: calc(100vh - 7.75em);
}

.layout-main .listMenu {
  max-width: 180px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 1em;
  padding-top: 1em;
  position: relative;
}

.layout-main .listMenu ul {
  position: sticky;
  top: 1em;
}

.layout-main .listMenu ul li {
  padding: .25em 0em 0em 1em;
}

.layout-main .listMenu ul li a {
  border-bottom: 1px solid #555;
  display: block;
  padding: .5em .25em;
}

.layout-main .listMenu + .conApp {
  border-left: 1px solid #333;
}

.layout-main .leftBox {
  max-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
  position: relative;
}

.layout-main .leftBox .calendarTemp {
  position: sticky;
  top: 1em;
  margin: 0 auto;
}

.layout-main .leftBox + .conApp {
  border-left: 1px solid #333;
}

.containerBox {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #ffffff;
}

.containerBox p {
  padding: .5em;
}

.index .conAppInit input {
  width: 300px;
}

.conAppInit h2 {
  padding: .5em 0;
}

ul.userBox {
  border: 1px solid #cccccc;
  position: relative;
}

ul.userBox li {
  border-top: 1px solid #cccccc;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul.userBox li:first-child {
  border-top: 0px solid red;
}

ul.userBox li:nth-child(2n) {
  background-color: #f1f1f1;
}

ul.userBox li:hover {
  position: relative;
}

ul.userBox li:hover div {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  z-index: 1;
  -webkit-box-shadow: 0 0 .5em #bbbbbb;
          box-shadow: 0 0 .5em #bbbbbb;
  border-radius: .5em;
}

ul.userBox li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  border: 1px solid #ffffff00;
}

ul.userBox li span {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

ul.userBox li span + span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .5em;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: right;
  min-width: 3em;
  border-left: 1px solid #ccc;
}

ul.userBox li .nbr {
  font-size: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.2em;
  height: 2.2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 2em;
  background-color: #8bc34a;
  color: #ffffff;
  margin-right: 1em;
}

.showsetBtn {
  padding: .25em .5em;
  background-color: red;
  border-radius: .25em;
  margin-left: 1em;
  color: #ffffff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 111;
  animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal-overlay h2 {
  padding: .5em 0;
  font-size: 1.5em;
  border-bottom: 1px solid #cccccc;
  font-weight: bolder;
  text-align: center;
}

.modal-overlay form {
  padding-top: 1em;
}

.modal-overlay form div {
  padding-right: 1em;
  margin-bottom: .5em;
  margin-bottom: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-overlay form label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6em;
          flex: 0 0 6em;
  text-align: right;
}

.modal-overlay form input {
  padding: .5em 0em .4em 1em;
  border-radius: 4px;
  border: 1px solid #cccccc;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal-overlay .modal {
  background: #fff;
  padding: 20px;
  border-radius: 1em;
  width: 560px;
  -webkit-box-shadow: 0 2px 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 1em rgba(0, 0, 0, 0.5);
  margin-top: -15%;
  position: relative;
  z-index: 1;
  border: 8px solid #cccccc;
}

.modal-overlay .modal .actions {
  margin-top: 20px;
  text-align: right;
  border-top: 1px solid #cccccc;
  padding-top: 1em;
  position: relative;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.modal-overlay .modal .actions button {
  margin-left: 10px;
  padding: .35em 1.5em;
  border-radius: .25em;
  background-color: #4caf50;
  color: #ffffff;
  border: 1px solid #4caf50;
}

.modal-overlay .modal .actions button + button {
  background-color: #03a9f4;
  border: 1px solid #03a9f4;
}

.modal-overlay .bgEvent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.modal-overlay .clo {
  display: block;
  width: 1.6em;
  height: 1.6em;
  border-radius: 1em;
  background-color: red;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: .25em;
  right: .25em;
  cursor: pointer;
  border: 2px solid red;
}

body, html {
  background-color: #1e212b;
  overflow-y: auto !important;
}

canvas {
  position: fixed;
  z-index: -11;
  top: 100vh;
  left: 1000vw;
}

.mtk2png {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em 1em;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mtk2png.mtk2mad .mdTopng {
  width: 40%;
  padding-right: .5em;
}

.mtk2png .sys_title {
  color: #cccccc;
  font-size: 1.8em;
  padding: .5em  .5em  0em  .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mtk2png .sys_title h1 {
  padding: .5em 2em;
  background-color: #16181f;
  border-radius: 8px;
  display: block;
  width: 100%;
  text-align: center;
}

.mtk2png .sys_title h1 a {
  color: #ff6600;
  margin-left: 1em;
}

.mtk2png section.dataInfo ul li span {
  cursor: auto;
}

.mtk2png section {
  padding: 1em;
}

section#mtkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc( 100vh - 93px);
  overflow: hidden;
  padding-bottom: 0em;
}

section#mtkBox .mdTopng {
  min-width: 300px;
  position: relative;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#mtkBox .mdTopng .actTitle {
  color: #cccccc;
  font-size: 1.5em;
  border-bottom: 2px solid #cccccc;
  margin-right: 2rem;
  line-height: .75em;
}

section#mtkBox .mdTopng .actTitle small {
  font-size: .7em;
}

section#mtkBox .mdTopng .actTitle small i {
  padding-left: 1em;
  opacity: .5;
  font-size: .5em;
}

section#mtkBox .mdTopng .actTitle + small {
  color: #cccccc;
  padding-left: 1em;
}

section#mtkBox .mdTopng .actTitle + small i {
  padding-left: 1em;
  opacity: .5;
}

section#mtkBox .mdTopng .creatNewAct {
  border-bottom: 2px solid #cccccc;
  margin-right: 2rem;
  font-size: 1em;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#mtkBox .mdTopng .creatNewAct input, section#mtkBox .mdTopng .creatNewAct select {
  padding: .25rem .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 22%;
  height: 2rem;
  margin: .25rem;
  border-radius: 4px;
  border: none;
  font-size: .8em;
}

section#mtkBox .mdTopng .creatNewAct span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#mtkBox .mdTopng .creatNewAct span input {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 65%;
  margin-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

section#mtkBox .mdTopng .creatNewAct span select {
  width: 2rem !important;
  max-width: 2rem;
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 1px solid #cccccc;
}

section#mtkBox .mdTopng .creatNewAct button {
  position: relative;
  width: 5rem;
  right: 0;
  top: 0;
  height: 2rem;
  margin-left: .25rem;
  font-size: .8em;
}

section#mtkBox .mdTopng textarea, section#mtkBox .mdTopng .dataListMad {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  min-height: 65vh;
  padding: 0em 3em 1em 1em;
  background-color: #1e212b;
  color: #cccccc;
  font-size: 12px;
  overflow: auto;
}

section#mtkBox .mdTopng .setInText {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  bottom: 0em;
  left: 0;
  width: calc( 100% - .7em);
  height: 25vh;
  z-index: 9999999;
  padding: 1em 0em 3em 1em;
  background-color: #2a2a39;
}

section#mtkBox .mdTopng .setInText select {
  width: 50%;
  max-width: 240px;
  margin-right: 50%;
  height: 2em;
  border-radius: 4px;
  margin-bottom: .25em;
  padding-left: .5em;
  font-size: .9em;
}

section#mtkBox .mdTopng .setInText textarea {
  width: 80%;
  min-height: 100%;
  min-width: 60%;
  margin-right: 1.5em;
  padding: 1em;
}

section#mtkBox .mdTopng .setInText button {
  position: relative;
  width: 20%;
  min-height: 70%;
  padding: 0;
}

section#mtkBox .mdTopng .setInText .cloSetText {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background-color: #f12939;
  top: 1em;
  right: 1em;
  color: #ffffff;
  cursor: pointer;
}

section#mtkBox .mdTopng .dragWidth {
  width: 10px;
  background-color: #25C7A2;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  cursor: all-scroll;
  cursor: col-resize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#mtkBox .mdTopng .dragWidth .rr90 {
  font-size: 1em;
  color: #21b190;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: 2px solid #21b190;
  background-color: #115b4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

section#mtkBox .mdTopng .readerPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3em;
  position: relative;
  background-color: #2a2a39;
  padding: 0 1em;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#mtkBox .mdTopng .readerPic button, section#mtkBox .mdTopng .readerPic input, section#mtkBox .mdTopng .readerPic label {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 2.5em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: .8em;
  cursor: pointer;
}

section#mtkBox .mdTopng .readerPic button.flex_1, section#mtkBox .mdTopng .readerPic input.flex_1, section#mtkBox .mdTopng .readerPic label.flex_1 {
  margin-right: .5em;
}

section#mtkBox .mdTopng .readerPic label {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 50%;
}

section#mtkBox #printable {
  background-color: #f2f2f2;
  height: calc( 100% - 4em);
  position: relative;
  cursor: move;
  overflow: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dragDiv {
  pointer-events: none;
}

ul.box {
  position: relative;
  padding: 2em;
  padding-top: 4em;
  padding-right: 6em;
  background: #ffffff;
  display: -ms-inline-grid;
  display: inline-grid;
  padding-bottom: 6em;
}

ul.box > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2em !important;
  position: relative;
  background-color: #ffffff;
}

ul.box li {
  padding-left: 18em;
  padding-right: 1em;
  position: static;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
}

ul.box li ul {
  position: static;
}

ul.box li ul li {
  position: static;
}

.boxName {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12em;
  height: auto;
  margin-bottom: 6em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxName.art .imgBox {
  background-image: url("../images/hacker-logo.jpeg");
  border: none;
  cursor: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: center 45%;
  background-size: 13em;
}

.boxName b {
  background-color: #25C7A2;
  color: #ffffff;
  border-radius: .5em;
  width: 100%;
  min-height: 3.3em;
  padding: .25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -1.25em;
  border: 2px solid #1fa586;
}

.boxName b em {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 1.4em;
  width: 100%;
  border-bottom: 1px solid #1fa586;
}

.boxName b small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 1.4em;
  width: 100%;
  border-top: 1px solid #54dfbf;
}

.boxName .imgBox {
  width: 7.99992em;
  height: 7.99992em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-position: center;
  background-size: 11em;
  border: 4px solid #1B96F1;
  cursor: pointer;
}

.boxName .imgBox span {
  font-size: 4.8em;
  color: #ffffff;
}

.noBrb {
  border-bottom: none !important;
}

.imgBox {
  position: relative;
}

.imgBox:hover .imgListBox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imgBox .typeStatusBox {
  position: absolute;
  top: -1em;
  right: -4.5em;
  width: 5em;
  height: 8em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
}

.imgBox .typeStatusBox .typeStatus {
  position: relative;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid #1B96F1;
  background-color: #fc3848;
}

.imgBox .typeStatusBox .typeStatus span {
  font-size: 1.5em !important;
  color: #ffffff !important;
}

.imgBox .imgListBox {
  display: none;
  width: 24em;
  background-color: #c3e3fb;
  border: 1px solid #1B96F1;
  position: absolute;
  top: -5em;
  right: 92%;
  border-radius: .5em;
  z-index: 3;
  -webkit-box-shadow: 0 0 1em #505050;
          box-shadow: 0 0 1em #505050;
}

.imgBox .imgListBox::after {
  position: absolute;
  right: -2em;
  top: 8em;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 2em;
  border-color: transparent transparent transparent #c3e3fb;
}

.imgBox .imgListBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding: 1em .5em .5em .5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: .9em;
  cursor: auto;
}

.imgBox .imgListBox ul li {
  padding-left: 0;
  padding: .3em .75em;
  background-color: #1B96F1;
  color: #ffffff;
  margin: .25em .25em .15em .25em;
  border-radius: 4px;
}

.imgBox .imgListBox ul li input, .imgBox .imgListBox ul li label {
  cursor: pointer;
}

.imgBox .imgListBox ul b {
  min-height: 1.4em;
  top: 0;
  margin-bottom: .5em;
  background-color: #ae49f0;
  border: 1px solid #8b12db;
}

.imgBox .imgListBox hr {
  margin-bottom: 0px;
  width: calc( 100% - 2px);
  border: none;
  border-bottom: 1px solid #4bacf4;
}

.flo_0 {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flo_0, .flo_1, .flo_2, .flo_3, .flo_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mtkInit {
  position: relative;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

#mtkInit #svgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: calc( 100% - 4em);
  height: calc( 100%);
  z-index: 0;
}

.testPath {
  position: relative;
  z-index: 1;
  cursor: -webkit-grab;
  cursor: grab;
}

.testPath:hover {
  stroke: red !important;
  -webkit-filter: drop-shadow(0px 0px 10px red);
          filter: drop-shadow(0px 0px 10px red);
}

.testPath ~ g circle:hover {
  -webkit-filter: drop-shadow(0px 0px 10px red);
          filter: drop-shadow(0px 0px 10px red);
}

.dragText {
  position: relative;
  z-index: 2;
}

.btn {
  background-color: #e21e6c;
  border: 1px solid #fc3848;
  padding: .35em 1em;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 1px 0 1px #07416c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fc3848), to(#e21e6c));
  background-image: linear-gradient(to top, #fc3848 0%, #e21e6c 100%);
  color: #ffffff;
  -webkit-box-shadow: 0 0 1em #99020f;
          box-shadow: 0 0 1em #99020f;
  position: absolute;
  margin-right: -640px;
  z-index: 1000000;
  right: 1em;
  margin-right: 0;
  font-size: 1rem;
}

@media (min-width: 1365px) {
  .btn {
    position: fixed;
  }
}

.btn b {
  padding-left: .25em;
}

.btn.top_right {
  margin-right: 2em;
}

.acct {
  padding: .5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.acct.addActLine {
  position: sticky;
  top: 0em;
  left: 0;
  background-color: #1e212b;
  z-index: 2;
  margin: 0em -3em 1em 0;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: solid 2px #3f3f3f;
}

.acct.addActLine::before {
  display: none;
}

.acct input {
  border-radius: 4px;
  border: none;
  padding: .25em 1em;
}

.acct button.acctS {
  position: relative;
  padding: .35em 1em;
  font-size: .85em;
  right: 0;
}

.acct + .listTop > li {
  margin-bottom: 2em;
}

#boxLi {
  padding-top: 10em;
  padding-bottom: 2em;
  position: relative;
}

.scale {
  font-size: .8em;
  position: fixed;
  bottom: 2rem;
  margin-left: 2rem;
  z-index: 10;
  cursor: auto;
}

.scale ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scale ul li {
  padding: .5em 1em;
  background-color: #1B96F1;
  color: #ffffff;
  margin: .25em;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #63b7f5;
}

.scale ul li.pickMen {
  background-color: #085084;
  border: 1px solid #0b6cb4;
}

.linkColor {
  position: fixed;
  bottom: 2.5rem;
  right: 0;
  margin-right: 2rem;
  z-index: 10;
  background-color: #dedede;
  border-radius: 4px;
  padding-left: .5em;
  cursor: auto;
}

.linkColor ul {
  font-size: .6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.linkColor ul li {
  padding: .25em 1em;
  cursor: pointer;
}

.typeList {
  position: absolute;
  bottom: 1.5em;
  left: 2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: .6em;
  max-height: 8em;
}

.typeList b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.5em;
  background-color: #8b12db;
  color: #ffffff;
  border-radius: 4px;
  padding: .25em 1em;
  min-width: 10em;
}

.typeList b span {
  margin-right: .5em;
}

.mtk2png.mtk2mad {
  padding-bottom: 0em;
}

.mtk2png.mtk2mad section.sys_title h1 {
  color: #dedede;
}

.mtk2png.mtk2mad .scale {
  bottom: 1em;
  margin-left: 1rem;
}

.mtk2png.mtk2mad .dataListMad ul li ul {
  position: relative;
  padding-left: 2em;
}

.mtk2png.mtk2mad .dataListMad ul li ul .lsitCon {
  position: relative;
}

.mtk2png.mtk2mad .dataListMad ul li ul li {
  position: relative;
  padding-bottom: .5em;
}

.mtk2png.mtk2mad .dataListMad ul li ul li::before {
  position: absolute;
  content: "";
  border-left: 1px solid #cccccc;
  height: 100%;
  left: -.9em;
  top: 0%;
}

.mtk2png.mtk2mad .dataListMad ul li ul li:last-child::before {
  display: none;
}

.mtk2png.mtk2mad .dataListMad ul li ul .lsitCon {
  position: relative;
}

.mtk2png.mtk2mad .dataListMad ul li ul .lsitCon::before {
  content: "";
  height: 1.4em;
  width: 1em;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  position: absolute;
  top: -.6em;
  left: -.9em;
  border-bottom-left-radius: .5em;
}

.mtk2png.mtk2mad .dataListMad ul li ul .lsitCon::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -.1em;
  top: .58em;
  border-style: solid;
  border-width: .25em 0 .25em .5em;
  border-color: transparent transparent transparent #cccccc;
}

.mtk2png.mtk2mad .dataListMad .lsitCon p.conValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
  position: relative;
}

.mtk2png.mtk2mad .dataListMad .lsitCon p.conValue b.opencreat {
  background-color: #fc3848;
  position: absolute;
  left: .75em;
  top: 0.5em;
  color: #ffffff;
  width: 1em;
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
  cursor: pointer;
}

.mtk2png.mtk2mad .dataListMad .lsitCon p.conValue b.opencreat + input[disabled] {
  padding-left: 2em;
  opacity: 0.6 !important;
}

.mtk2png.mtk2mad .dataListMad .lsitCon p.conValue input[disabled] + input[disabled] {
  padding-left: 1em;
}

.mtk2png.mtk2mad .dataListMad .lsitCon p.conValue b.removeMe {
  background-color: #fc7232;
  position: absolute;
  right: -1.25em;
  top: 0.5em;
  color: #ffffff;
  width: 1em;
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
  cursor: pointer;
}

.mtk2png.mtk2mad .dataListMad .lsitCon p.conValue b.addInText {
  background-color: #1B96F1;
  color: #ffffff;
  cursor: pointer;
  width: 1em;
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
  position: absolute;
  top: 0.7em;
  right: -3.5em;
  padding: .75em;
  font-size: .75em;
}

.mtk2png.mtk2mad .dataListMad .lsitCon input {
  padding: .25em 1em;
  border-radius: 4px;
  width: 25%;
  border: none;
  margin: 0 .25em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mtk2png.mtk2mad .dataListMad .lsitCon input[disabled] {
  color: #ffffff !important;
  max-width: 10rem;
  pointer-events: none;
}

.mtk2png.mtk2mad .dataListMad .lsitCon .inp15 {
  max-width: 7.5rem;
}

p.addActLine {
  font-size: 1em;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p.addActLine::before {
  position: absolute;
  content: "";
  border-left: 1px solid #cccccc;
  height: calc(100% + .5em);
  left: -.9em;
  top: -.5em;
}

p.addActLine input, p.addActLine select {
  padding: .25rem .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 22%;
  height: 1.5rem;
  margin: .25rem;
  border-radius: 4px;
  border: none;
  font-size: .8em;
}

p.addActLine span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 33%;
  min-width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: .2em;
}

p.addActLine span input {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 65%;
  margin-right: 0;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin: 0;
}

p.addActLine span select {
  margin: 0;
  width: 2rem !important;
  max-width: 2rem;
  margin-left: -1pc;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 1px solid #cccccc;
}

p.addActLine button {
  position: relative;
  right: 0;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .8em;
  margin-left: .25em;
}

span.setFlexIcon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: .2em;
}

span.setFlexIcon input, span.setFlexIcon select {
  padding: .25rem .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 22%;
  height: 1.5rem;
  margin: .25rem;
  border-radius: 4px;
  border: none;
  font-size: .8em;
}

span.setFlexIcon input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 65%;
  margin-right: 0;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin: 0;
}

span.setFlexIcon select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  margin-left: -1pc;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 1px solid #cccccc;
}

span.setFlexIcon select.onNo {
  color: #cccccc;
}

span.setFlexIcon.onlySelect {
  margin-left: 1.5em;
}

span.setFlexIcon.onlySelect select {
  border-radius: .5em;
}

.onNo {
  color: #cccccc;
}

svg text tspan {
  cursor: -webkit-grab;
  cursor: grab;
}

svg text tspan + tspan {
  cursor: auto;
}

::-webkit-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

::-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
}

::placeholder {
  color: #cccccc;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #cccccc;
}

.pathStyleSet {
  position: fixed;
  bottom: 5.25em;
  right: 1em;
  background-color: #1e212b;
  z-index: 111;
  cursor: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em;
  width: 458px;
}

.pathStyleSet.lsitCon {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .9em;
}

.pathStyleSet.lsitCon .setInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: .5em;
}

.pathStyleSet.lsitCon button {
  padding: .25em .5em;
  position: relative;
  right: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: .8em;
}

.pathStyleSet.lsitCon input, .pathStyleSet.lsitCon select {
  padding: .25em 1em;
  border-radius: 4px;
  width: 25%;
  border: none;
  margin: 0 .25em;
}

.pathStyleSet.lsitCon input[type='number'], .pathStyleSet.lsitCon select[type='number'] {
  padding-right: 0;
  margin-left: .5em;
  border-top-left-radius: .5em !important;
  border-bottom-left-radius: .5em !important;
}

.pathStyleSet.lsitCon input[type='number'] + button, .pathStyleSet.lsitCon select[type='number'] + button {
  cursor: auto;
}

.pathStyleSet.lsitCon input[disabled], .pathStyleSet.lsitCon select[disabled] {
  color: #ffffff !important;
}

.pathStyleSet.lsitCon span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 33%;
  min-width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: .2em;
}

.pathStyleSet.lsitCon span input {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 65%;
  margin-right: 0;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin: 0;
}

.pathStyleSet.lsitCon span select {
  margin: 0;
  width: 2rem !important;
  max-width: 2rem;
  margin-left: -1pc;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 1px solid #cccccc;
}

.pathStyleSet.lsitCon input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 65%;
  margin-right: 0;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin: 0;
}

.pathStyleSet.lsitCon input.inp_1 {
  color: #ffffff;
}

.pathStyleSet.lsitCon select {
  margin: 0;
  width: 2rem !important;
  max-width: 2rem;
  margin-left: -1pc;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 1px solid #cccccc;
}

.pathStyleSet ul.colorSetBox {
  right: .5em;
  bottom: 6.5em;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pathStyleSet ul.colorSetBox li {
  width: 1.6em;
  height: 1em;
  min-width: 1em;
  margin-right: 3px;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-bottom: .25em;
}

.flex_1 {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

.flex_2 {
  -webkit-box-flex: 2 !important;
      -ms-flex: 2 !important;
          flex: 2 !important;
}

.flex_3 {
  -webkit-box-flex: 3 !important;
      -ms-flex: 3 !important;
          flex: 3 !important;
}

.flex_4 {
  -webkit-box-flex: 4 !important;
      -ms-flex: 4 !important;
          flex: 4 !important;
}

.flex_5 {
  -webkit-box-flex: 5 !important;
      -ms-flex: 5 !important;
          flex: 5 !important;
}

input.inp_1.flex_3 {
  border-radius: .5em !important;
}

input.inp_1.flex_3 + input {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-left: solid #cccccc 1px !important;
}

.textIcon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 2em;
}

.textIcon span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: solid;
  color: #ffffff;
}

.icontext circle {
  z-index: 0;
}

.icontext image {
  fill: #ffffff;
  z-index: 1111;
}

span.openUl {
  width: 1.5em;
  height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2em;
  cursor: pointer;
  background-color: #25C7A2;
  color: #ffffff;
  position: absolute;
  top: 2.8em;
  left: .95em;
  font-size: .7em;
  z-index: 1;
}

span.openUl.showClo {
  background-color: #1e212b;
  color: #25C7A2;
  border: 1px solid #25C7A2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.setInText ::-webkit-input-placeholder {
  color: #505050 !important;
}

.setInText :-moz-placeholder {
  color: #505050 !important;
}

.setInText ::-moz-placeholder {
  color: #505050 !important;
}

.setInText :-ms-input-placeholder {
  color: #505050 !important;
}

.setInText ::input-placeholder {
  color: #505050 !important;
}

.setInText ::-webkit-input-placeholder {
  color: #505050 !important;
}

.setInText ::-moz-placeholder {
  color: #505050 !important;
}

.setInText :-ms-input-placeholder {
  color: #505050 !important;
}

.setInText ::-ms-input-placeholder {
  color: #505050 !important;
}

.setInText ::placeholder {
  color: #505050 !important;
}

svg#svgBox.focusMe {
  z-index: 1 !important;
}

svg#svgBox.focusMe > g:not(.focusEle) {
  opacity: .2;
  pointer-events: none;
}

.pathStyleSet hr {
  width: 100%;
}

.pathStyleSet .lineTheme input {
  width: 1em;
  height: 1em;
}

.lineSetBox {
  padding: .1em 0 .5em 0;
  color: #cccccc;
}

.line-theme-square {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 .5em;
}

.lineTheme {
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
}

.lineTheme input {
  display: none;
}

/* 上 */
.theme-1 {
  top: 0;
  left: 0px;
  right: 0px;
  height: 8px;
  background-color: #333;
  clip-path: polygon(0 0, 100% 0, calc(100% - $setW) 100%, 8px 100%);
}

/* 右 */
.theme-2 {
  top: 0px;
  bottom: 0px;
  right: 0;
  width: 8px;
  background-color: #333;
  clip-path: polygon(100% 0, 100% 100%, 0 calc(100% - $setW), 0 8px);
}

/* 下 */
.theme-3 {
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 8px;
  background-color: #333;
  clip-path: polygon(0 100%, 100% 100%, calc(100% - $setW) 0, 8px 0);
}

/* 左 */
.theme-4 {
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 8px;
  background-color: #333;
  clip-path: polygon(0 0, 0 100%, 100% calc(100% - $setW), 100% 8px);
}

/* 選中狀態高亮 */
.lineTheme input:checked + span, .lineTheme:has(input:checked) {
  background-color: #4caf50;
}

.setBox b {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label.useSetLine {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

label.useSetLine input {
  margin: 0 0.25em !important;
}

.addLinePoint, .useLinePoint {
  border-radius: 4px !important;
  padding: 0.5em 1.5em 0.5em 1.5em  !important;
  margin: .5em .5em 0 .5em;
}

.setBox_line {
  padding: .5em;
}

.hrLine {
  border-top: #444444 1px solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.cloShowPathSet {
  position: absolute;
  top: 0;
  left: -1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  background-color: #f00;
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
  -webkit-box-shadow: 4px 4px 4px #1e212b;
          box-shadow: 4px 4px 4px #1e212b;
}

.cloShowPathSet b {
  color: #fff;
  text-shadow: 2px 2px 2px #2a2a39;
}
