//map用sass只能寫單行模式，改成scss看比較清楚
$buttons: (
    a: (#3BE2BC, #1B96F1), 
    b: (#EF33F2, #3544DC), 
    c: (#ffec39, #9a04bf), 
    d: (#F5515F, #9F046C), 
    e: (#07db78, #564ce6), 
    f: (#9de451, #25C7A2), 
    g: (#FB8332, #ffe7a6), 
    h: (#8E2EF7, #61DEC7),
    i: (#F8C332, #8ADC32),
    j: (#444444, #eeeeee)
);