@charset "UTF-8";
.pagination-wrapper {
  font-family: sans-serif;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
}

.pagination-wrapper .controls {
  margin-bottom: 0.5em;
}

.pagination-wrapper .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5em;
}

ul.userBox {
  border: 1px solid #bbbbbb;
  position: relative;
}

ul.userBox li {
  border-top: 1px solid #bbbbbb;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul.userBox li:first-child {
  border-top: 0px solid red;
}

ul.userBox li:nth-child(2n) {
  background-color: #f1f1f1;
}

ul.userBox li:hover {
  position: relative;
}

ul.userBox li:hover div {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  z-index: 1;
  -webkit-box-shadow: 0 0 .5em #bbbbbb;
          box-shadow: 0 0 .5em #bbbbbb;
  border-radius: .5em;
}

ul.userBox li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 2.25em;
  padding: 1em;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  border: 1px solid #ffffff00;
}

ul.userBox li span {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

ul.userBox li span + span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: .5em;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: right;
}

ul.userBox li .nbr {
  font-size: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.2em;
  width: 2.2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 2em;
  background-color: #8bc34a;
  color: #ffffff;
  margin-right: 1em;
}

.showsetBtn {
  padding: .25em .5em;
  background-color: red;
  border-radius: .25em;
  margin-left: 1em;
  color: #ffffff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* 讓空白列保持一致高度 */
.blank-row {
  opacity: 0.3;
  pointer-events: none;
}
