.modalComponent-template {
  padding: 1rem;
  background: #44e35c;
  border: 1px dashed #999;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 2em;
  height: 2em;
}